body{
    background-color: bisque;
}
h1{
    color: blue; text-align: center
}
.border{
    border:3px solid black
}
.img{
    border: 3px solid black;
    top: 170px;
    right: 5px;
    position: absolute
}
.center{
    color: blue; text-align: center; position: absolute; font-size: 20px;  padding: 5px
}
li{
    font-family: monospace; font-size: 15px
}
.lists{
    right: 342px; position: absolute;
    left: 5px
}
.video{
    top: 500px;
    position: absolute;  
}
.tableau{
    top: 850px;
    position: absolute
}
.tableauheader{
    top: 1000px;
    position: absolute
}